html,
body {
  background: #f0f2f4;
}
a {
  color: #363636;
}
a:hover {
  text-decoration: underline;
}
.navbar.is-white {
  background: #f0f2f4;
}
.media-content p.title {
  line-height: 1.2;
  padding: 1rem 0;
  margin: 1rem 0;
  font-weight: 400;
}
.media-content p.subtitle {
  padding: 1rem 0;
  margin-bottom: 1rem;
}
.topic-image {
  position: absolute;
  top: -1.25rem;
  left: 50%;
  margin-left: -1.5rem;
  border: 2px solid #ccc;
  border-radius: 25%;
  background-color: white;
}
.article {
  margin-top: 5rem;
}
.vote-btn {
  border: 0;
  background-color: white;
  cursor: pointer;
}
